<div class="row">
    <div class="col-sm-8">
        <h1>Your login is incorrect</h1>
        <p><a href="/logins/new" class="btn btn-secondary">Try Again</a></p>
        <p><a href="/users/new" class="btn btn-secondary">Sign Up</a></p>
    </div>
  </div>
