<div class="row">
    <div class="col-sm-8">
        <h1>Thanks for your review!</h1>
        <p><a href="/restaurants/<%= @restaurant[:id] %>" class="btn btn-secondary">Back to Restaurant</a></p>
    </div>
</div>